body{
  background-color: #3f704d;
  background-image: linear-gradient(50deg, rgba(208,232,234,.5) 50%, transparent 0), linear-gradient(rgba(208,232,234,.5) 50%, transparent 0);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}

h1{
  color: 	#4B0082;
  text-align: center;
  font-size: 70px;
}

button{
  background-color: black;
  margin: 50px;
  color: #20B2AA;
  border-radius:20%;
  box-shadow: 3ch;
  font-size: 60px;
  padding: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}


button:hover {background-color: #ffffff}

.box
{
  background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);

height: 400px;
}





p{
  text-align: center;
  font-size: 60px;
  color: rgb(108, 0, 215);

}

div {
  text-align: center;
}